@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto:wght@500&display=swap');

:root {
    --cor0: #98FB98;
    --cor1: #00FF7F;
    --cor2: #00FA9A;
    --cor3: #2F4F4F;
}


body {
    background-image: linear-gradient(to top, var(--cor3), var(--cor2), var(--cor3));
    background-attachment: fixed;
}

.container {
    display: inline-flex;
    align-items: center;
}

div.texto {
    margin: 30px;
    font-size: 60px;
    background: linear-gradient(45deg, var(--cor1), var(--cor3));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
 
}

@keyframes degrade {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.whatsapp {
    width: 200px;

}



p {
    margin: 30px;
    text-align: justify;
    text-decoration: none;
    padding: 3px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    margin-top: 1px;
    line-height: 1.5;
    color: var(--cor3);
}

.slider {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 200px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
width: 25%;
position: relative;
transition: 2s;
}

.slide img {
    width: 400px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--cor3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: var(--cor3);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid var(--cor3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
    background-color: var(--cor3);
}

#radio2:checked ~.navigation-auto .auto-btn2 {
    background-color: var(--cor3);
}

#radio3:checked ~.navigation-auto .auto-btn3 {
    background-color: var(--cor3);
}

#radio4:checked ~.navigation-auto .auto-btn4 {
    background-color: var(--cor3);
}

@media (max-width: 450px) {
    .whatsapp {
        width: 100px;
    }

    div.texto {
        margin-left: 20px;
        font-size: 30px;
    }

    .slider {
        margin: 0 auto;
        width: 400px;
        height: 200px;
        overflow: hidden;
    }

    .slides {
        width: 400%;
        height: 200px;
        display: flex;
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
        transition: 2s;
    }

    .slide img {
        width: 400px;
    }

    .manual-navigation {
        position: absolute;
        width: 400px;
        margin-top: -20px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid var(--cor3);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 20px;
    }

    .manual-btn:hover {
        background-color: var(--cor3);
    }

    #radio1:checked~.first {
        margin-left: 0;
    }

    #radio2:checked~.first {
        margin-left: -25%;
    }

    #radio3:checked~.first {
        margin-left: -50%;
    }

    #radio4:checked~.first {
        margin-left: -75%;
    }

    .navigation-auto div {
        border: 2px solid var(--cor3);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto {
        position: absolute;
        width: 400px;
        margin-top: 180px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 20px;
    }

    #radio1:checked~.navigation-auto .auto-btn1 {
        background-color: var(--cor3);
    }

    #radio2:checked~.navigation-auto .auto-btn2 {
        background-color: var(--cor3);
    }

    #radio3:checked~.navigation-auto .auto-btn3 {
        background-color: var(--cor3);
    }

    #radio4:checked~.navigation-auto .auto-btn4 {
        background-color: var(--cor3);
    }

}
